@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Press+Start+2P&display=swap');



*{ /*  O * seleciona todos os elementos da página.*/
    padding: 0; /* Define a quantidade de espaço entre o conteúdo de um elemento e suas bordas internas  */
    margin: 0; /* Define a quantidade de espaço entre os elementos e suas bordas externas  */
    box-sizing: border-box; /* */
    text-align: center; /* */
    font-family: 'Press Start 2P', cursive; /* */
    width: 100%; /* */
    max-width: 1980px; /* */
}

body{
    width: 100%;
    max-width: 1980px;
    height: 100%;
    background-image: linear-gradient( 45deg, rgb(20, 20, 20), #1f165f);
    background-repeat: no-repeat;
    align-items: center;
}

div.cabecalho{
    display: flex;
    justify-content: center;
}

.cabecalho img{
    width: 50%; 
    max-width: 1980px;
    margin-left: 20px;
    margin-bottom: 3rem;
    margin-top: 1%
}

div.info{ /* bloco branco */
    font-family: 'Press Start 2P', cursive;
    margin-top: 3rem;
    font-size: 20px;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 2rem;
    border-radius: 35px;
    background-color:#D9D9D9;
    box-shadow: black -3px 13px 16px 1px;
    width: 80%; 
    max-width: 1980px;
    
}

.info h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #74C663;
    text-shadow: -8px 7px 16px black, -5px -5px black;
    width: 100%;
    max-width: 1980px;
    align-items: center;
    transform: scale(1.0);
}

.container_2{
    display: flex;
    justify-content: space-evenly;
    grid-gap: 5px 8px; /* espaço entre um elemento interno e outro */
}

.container_2 img{
    width: 20%;
    max-width: 1980px;
    height: 15rem;
    padding: 10px;
    margin-top: 6rem;
    background-image: url(../images/fundoCinza.png);
    border-radius: 10%;
    box-shadow: black -5px 13px 17px 1px;
    align-items: center;
}


div.button{
    width: 100%;
    max-width: 1980px;
    height: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 1%;
    background-image: linear-gradient( 45deg, rgb(29, 124, 37), #1f165f);
    border-radius: 1%;
    box-shadow: rgb(186, 197, 26) 0px 1px 10px 10px;

}

.button button{
    font-family: 'Press Start 2P', cursive;
    width: 12rem;
    height: 6rem;
    border-radius: 15%;
    background-color:black;
    color:#74C663;
    border-style: inset;
    border-color: #74C663;
    text-shadow: #74C663 0px 0px 15px;
    font-size: 25px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    box-shadow: rgb(186, 197, 26) 0px 1px 10px 10px;
}

.button a{
    text-decoration: none;
    color: #74C663;
}

button:hover{
    transform: scale(1.05); /* espaço do botão na tela */

}

div.container_3{ 
    padding: 7%;
    background-image: url(../images/background.png);
    width: 100%;
    max-width: 1980px;
    height: 100%;
    background-image: linear-gradient( 45deg, rgb(20, 20, 20), #1f165f);
    align-items: center;
    margin: 3%,-3%;
    display: flex;
    justify-content: space-evenly;
    
}

.video{ 
    transform: scale(0.); /* espaço do video na tela*/

}

::-webkit-scrollbar{ /* scroll da tela*/
    width: 10px;
    background-color: #77ee07;
}

::-webkit-scrollbar-thumb{ /* barra do scroll da tela*/
    background-color: #1f165f;
}

footer{ /* rodapé*/
    width: 100%;
    max-width: 1980px;
    padding: 10px;
    color: #74C663;
    text-shadow: 10px 0px 15px #74C663, -5px -5px black;
    background-color: #02010a;
}